root = true
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,html,jade,md}]
indent_size = 4

[*.js]
jslint_happy = true
