body
    // This is a comment without a todo
    color white
    /* single line comment without todo */
    /* TODO: single line comment with a todo */
    /*! FIXME: single line comment with a todo */
    /*
    multiple line comment without todo
    yes another line
    */
form
    color yellow
