!!!
head

body
    //this is a a comment
    .cluster class
    //- this is also a comment
    #oh-no yes
    //TODO: this is a todo
    //TODOTHERE this isnt a todo
    //FIXME also should be caught
    - var string = "//this isnt a todo as well"
