!!!
/ TODO: All your base are belong to us.
%html
  %head
    <!-- FIXME: Someone set up us the bomb. -->
    %title How are you gentlemen?
  %body
    %div
      -# TODO: All your base are belong to us. You are on the way to destruction.
      %p What you say?
      <%# FIXME: You have no chance to survive make your time. Ha ha ha... %>
